
@{
    ViewBag.Title = "المهن";
    Layout = "~/Views/Shared/_newLayoute.cshtml";
}

<div class="col-12">
    <form>
        <div class="input-group  mb-3">
            <input style="display:none" id="hidnId" value="" />
            <input id="Name" class="form-control font-weight-bold" placeholder="اسم المهنة..." />
            <hr />
            <small id="NameError" style="display:none" class="text-danger  error">لايمكنك الاضافة بدون اسم</small>
            <div class="input-group-append">
                <button onclick="Add()" id="add" type="button" class="btn btn-primary">اضافة مهنة جديدة</button>
                <button onclick="Update()" id="edit" style="display:none" type="button" class="btn btn-primary">تعديل</button>
            </div>
        </div>
        <span class="text-danger"></span>
    </form>
    <div class="card my-4">

        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3 mx-4 ">جدول المهن</h6>
            </div>
        </div>
        <div class="card-body px-0 pb-2">
            <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                    <thead>
                        <tr>
                            <th class=" text-center   ">اسم المهنة</th>

                            <th class=" text-center "></th>
                        </tr>
                    </thead>
                    <tbody id="Data">

                    </tbody>
                </table>
                <!-- pagination -->
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<script src="~/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {

        LoadALL(1);

    });
    var currPage = 0;
    function LoadALL(pageNum) {
        $.ajax({
            url: "/Jop/GetAllJop?pageNumber=" + pageNum + "&pageSize=" + 5,
            type: "GET",
            dataType: "json",
            success: function (result) {
                $(".pagination").empty();
                $("#Data").empty();
                $.each(result.data, function (key, item) {
                    $("#Data").append(SeedDataTabel(item));
                });
                currPage = result.currentPage;
                PaggingTemplate(result.totalPages, result.currentPage);

            }


        });
    }
    function Add() {
        var Name = $('#Name').val();

        $('.error').hide();
        if (Name == "" || Name == null) {
            $('#NameError').show();
        }
        else {
            $.ajax({
                url: "/Jop/AddJop?JopName=" + Name,
                type: "POST",
                success: function (result) {

                    if (result == true) {
                        swal("تم الحفظ بنجاح", "", "success");
                        $('#Name').val("");

                        LoadALL(1);
                    }
                    else {
                        swal("حدث خطأ", "", "error");
                    }
                },
            });
        }

    }
    function GetById(id) {
        $.ajax({
            url: "/Jop/GetJopById?Id=" + id,
            type: "GET",
            dataType: "json",
            success: function (result) {

                $('#hidnId').val(id);
                $('#Name').val(result.jopName);
                $('#add').hide();
                $('#edit').show();

            }
        });




    }
    function Update() {
        var id = $('#hidnId').val();
        var Name = $('#Name').val();
        $.ajax({
            url: "/Jop/EditJop?JopId=" + id + "&JopName=" + Name,
            type: "POST",

            dataType: 'json',

            success: function (result) {

                if (result == true) {
                    swal("تم الحفظ بنجاح", "", "success");
                    $('#Name').val("");

                    LoadALL(1);
                    $('#add').show();
                    $('#edit').hide();
                }
                else {
                    swal("حدث خطأ", "", "error");
                }
            }
        });
    }
    function Delet(id) {
        swal({
            title: 'هل انت متأكد؟',
            text: "اذا قمت بمسح هذا لن تستطيع استرجاعه ثانيتا!",
            icon: 'warning',
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        url: "/Jop/DeleteJop?Id=" + id,
                        type: "POST",
                        dataType: 'json',
                        success: function (result) {

                            if (result == true) {
                                swal("تم الحذف بنجاح", {
                                    icon: "success",
                                });
                                LoadALL(1);
                            }
                            else {
                                swal("حدث خطا او تم استخدام البيانات من قبل", "", "error");
                            }
                        }
                    });

                }
            });
    }
    function SeedDataTabel(data) {
        return '<tr><td class="align-middle text-center text-lg" >'+data.jopName +'</td ><td class="align-middle">' +
            '<a href="javascript:;" onclick="GetById(' + data.jopId + ')" class=" btn bg-gradient-info font-weight-bold  " data-toggle="tooltip" data-original-title="Edit user">تعديل</a>|' +
            '<a href="javascript:;"onclick="Delet(' + data.jopId + ')" class=" btn btn-danger font-weight-bold " data-toggle="tooltip" data-original-title="Edit user">حذف</a></td ></tr >';
    }
    function PaggingTemplate(totalPage, currentPage) {

        var template = "";
        var TotalPages = totalPage;
        var CurrentPage = currentPage;
        var PageNumberArray = Array();


        var countIncr = 1;
        if (currentPage != 1) {

            for (var i = currentPage - 1; i <= totalPage; i++) {

                PageNumberArray[0] = currentPage - 1;
                if (PageNumberArray[countIncr - 1] != totalPage) {
                    PageNumberArray[countIncr] = i + 1;
                }
                countIncr++;
            };
        }
        else {
            for (var i = currentPage; i <= totalPage; i++) {

                PageNumberArray[0] = currentPage;
                if (totalPage != currentPage && PageNumberArray[countIncr - 1] != totalPage) {
                    PageNumberArray[countIncr] = i + 1;
                }
                countIncr++;
            };
        }
        PageNumberArray = PageNumberArray.slice(0, 5);
        var FirstPage = 1;
        var LastPage = totalPage;
        if (totalPage != currentPage) {
            var ForwardOne = currentPage + 1;
        }
        var BackwardOne = 1;
        if (currentPage > 1) {
            BackwardOne = currentPage - 1;
        }

        //template = "<p>" + CurrentPage + " of " + TotalPages + " pages</p>"
        template = template + '<li class="page-item">' +
            '<a onclick="LoadALL(' + BackwardOne + ')" class="page-link"  aria-label="Previous">' +
            '<span aria-hidden="true">&laquo;</span>' +
            '<span class="sr-only">Previous</span>' +
            '</a>' +
            '</li>';


        var numberingLoop = "";
        for (var i = 0; i < PageNumberArray.length; i++) {
            if (PageNumberArray[i] == currentPage) {
                numberingLoop = numberingLoop + '<li  class="page-item active"><a onclick="LoadALL(' + PageNumberArray[i] + ')"  class="page-link" href="#">' + PageNumberArray[i] + '</a></li>'
            }
            else {
                numberingLoop = numberingLoop + '<li class="page-item"><a onclick="LoadALL(' + PageNumberArray[i] + ')"  class="page-link" href="#">' + PageNumberArray[i] + '</a></li>'
            }

        }
        template = template + numberingLoop + '<li class="page-item">' +
            ' <a  onclick="LoadALL(' + ForwardOne + ')" class="page-link"  aria-label="Next">' +
            '<span aria-hidden="true">&raquo;</span>' +
            '<span class="sr-only">Next</span>' +
            '</a>' +
            '</li>';

        $(".pagination").append(template);


    }
</script>

