


@{
    ViewBag.Title = "الموظفين";

}

<div class="col-12">
    <form>

        <input style="display:none" id="hidnId" value="" />
        <div class="form-group ">
            <label for="Emp" class="form-label">اسم الموظف</label>
            <select class="form-control border " id="Emp">
                <option value="-1">اختر الموظف</option>
                @foreach (var item in ViewBag.Emp)
                {
                    <option value="@item.EmpId">@item.EmpName</option>
                }
            </select>
            <small id="EmpError" style="display:none" class="text-danger  error">لايمكنك الاضافة بدون موظف</small>
            <hr />
            <label for="Expens" class="form-label">نوع المصروف</label>
            <select class="form-control border " id="Expens">
                <option value="-1">اختر المصروف</option>
                <option value="1">سلفة</option>
                <option value="2">CL</option>
                <option value="3">اخري</option>
            </select>
            <small id="ExpensError" style="display:none" class="text-danger  error">لايمكنك الاضافة بدون موظف</small>
            <hr />
            <label for="value" class="form-label">القيمة</label>
            <input type="number" id="value" class="form-control font-weight-bold" placeholder="القيمة..." />
            <small id="valueError" style="display:none" class="text-danger  error">لايمكنك الاضافة بدون القيمة</small>
            <hr />
            <div class="form-group ">
                <label for="date">التاريخ</label>
                <div class="input-group">
                    <input name="PassportExpDate" type="date" class=" drgpicker" id="date" aria-describedby="button-addon2">

                </div>
            </div>
            <hr />
            <label for="Note" class="form-label">ملاحظات</label>
            <textarea class="form-control font-weight-bold" id="Note" placeholder="ملاحظات..."></textarea>
        </div>



        <div class="form-control input-group-append">
            <button onclick="Add()" id="add" type="button" class="btn bg-gradient-dark mb-0">اضافة مصروف</button>
            <button onclick="Update()" id="edit" style="display:none" type="button" class="btn bg-gradient-dark ">تعديل</button>
        </div>
    </form>
    <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3 mx-4 ">جدول مصروفات الموظفين</h6>
            </div>
        </div>
        <div class="card-body px-0 pb-2">
            <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                    <thead>
                        <tr>
                            <th class=" text-center">اسم الموظف</th>
                            <th class=" text-center">نوع المصروف</th>
                            <th class=" text-center">القيمة</th>
                            <th class=" text-center">التاريخ</th>
                            <th class=" text-center">ملاحظات</th>
                            <th class=" text-center "></th>
                        </tr>
                    </thead>
                    <tbody id="Data">
                    </tbody>
                </table>
                <!-- pagination -->
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<script src="~/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {

        LoadALL(1);

    });
    var currPage = 0;
    function LoadALL(pageNum) {
        $.ajax({
            url: "/EmpExpense/GetAllEmpExpenses?pageNumber=" + pageNum + "&pageSize=" + 5,
            type: "GET",
            dataType: "json",
            success: function (result) {
                $(".pagination").empty();
                $("#Data").empty();
                $.each(result.data, function (key, item) {
                    $("#Data").append(SeedDataTabel(item));
                });
                currPage = result.currentPage;
                PaggingTemplate(result.totalPages, result.currentPage);

            }


        });
    }
    function Add() {
        var EmpId = $('#Emp').val();
        var Expens = $('#Expens').val();
        var value = $('#value').val();
        var Note = $('#Note').val();
        var date = $('#date').val();
        $('.error').hide();
        if (EmpId == "" || EmpId == null) {
            $('#EmpError').show();
        }
        else if (Expens == "" || Expens == null) {
            $('#ExpensError').show();
        }
        else if (value == "" || value == null) {
            $('#valueError').show();
        }
        else if (date == "" || date == null) {
            $('#dateError').show();
        }
        else {
            $.ajax({
                url: "/EmpExpense/AddEmpExpenses?EmpId=" + EmpId + "&ExpensesType=" + Expens + "&Value=" + value + "&Note=" + Note + "&Date=" + date ,
                type: "POST",
                success: function (result) {

                    if (result == true) {
                        swal("تم الحفظ بنجاح", "", "success");
                        $('#Emp').val(-1);
                        $('#Expens').val(-1);
                        $('#value').val("");
                        $('#Note').val("");

                        LoadALL(1);
                    }
                    else {
                        swal("حدث خطأ", "", "error");
                    }
                },
            });
        }

    }
    function GetById(id) {
        $.ajax({
            url: "/EmpExpense/GetEmpExpensesById?Id=" + id,
            type: "GET",
            dataType: "json",
            success: function (result) {

                $('#hidnId').val(id);
                $('#Emp').val(result.empId);
                $('#Expens').val(result.expensesType);
                $('#value').val(result.value);
                $('#Note').val(result.note);
                $('#add').hide();
                $('#edit').show();

            }
        });




    }
    function Update() {
        var id = $('#hidnId').val();
        var EmpId = $('#Emp').val();
        var Expens = $('#Expens').val();
        var value = $('#value').val();
        var Note = $('#Note').val();
        var date = $('#date').val();
        $('.error').hide();
        if (EmpId == "" || EmpId == null) {
            $('#EmpError').show();
        }
        else if (Expens == "" || Expens == null) {
            $('#ExpensError').show();
        }
        else if (value == "" || value == null) {
            $('#valueError').show();
        }
        else if (date == "" || date == null) {
            $('#dateError').show();
        }
        else {
            $.ajax({
                url: "/EmpExpense/EditEmpExpenses?ExpenId=" + id + "&EmpId=" + EmpId + "&ExpensesType=" + Expens + "&Value=" + value + "&Note=" + Note +"&Date=" + date,
                type: "POST",

                dataType: 'json',

                success: function (result) {

                    if (result == true) {
                        swal("تم الحفظ بنجاح", "", "success");
                        $('#Emp').val(-1);
                        $('#Expens').val(-1);
                        $('#value').val("");
                        $('#Note').val("");
                        LoadALL(1);
                        $('#add').show();
                        $('#edit').hide();
                    }
                    else {
                        swal("حدث خطأ", "", "error");
                    }
                }
            });
        }
        
    }
    function Delet(id) {
        swal({
            title: 'هل انت متأكد؟',
            text: "اذا قمت بمسح هذا لن تستطيع استرجاعه ثانيتا!",
            icon: 'warning',
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        url: "/EmpExpense/DeleteEmpExpenses?Id=" + id,
                        type: "POST",
                        dataType: 'json',
                        success: function (result) {

                            if (result == true) {
                                swal("تم الحذف بنجاح", {
                                    icon: "success",
                                });
                                LoadALL(1);
                            }
                            else {
                                swal("حدث خطا او تم استخدام البيانات من قبل", "", "error");
                            }
                        }
                    });

                }
            });
    }
    function SeedDataTabel(data) {
        let html = '<tr><td class="align-middle text-center text-lg" >' + data.empName + '</td >';
        html += data.expensesType == 1 ? '<td class="align-middle text-center text-lg" >سلف</td >' : data.expensesType == 2 ? '<td class="align-middle text-center text-lg" >CL</td >' :'<td class="align-middle text-center text-lg" >اخري</td >';
        html += '<td class="align-middle text-center text-lg" >' + data.value + '</td ><td class="align-middle text-center text-lg" >' + data.date.substring(0, 10) + '</td >';
        html +=  '<td class="align-middle text-center text-lg" >' + data.note + '</td >' +
                '<td class="align-middle"><a href="javascript:;" onclick="GetById(' + data.expenId + ')" class=" btn bg-gradient-info font-weight-bold  " data-toggle="tooltip" data-original-title="Edit user">تعديل</a>|' +
                '<a href="javascript:;"onclick="Delet(' + data.expenId + ')" class=" btn btn-danger font-weight-bold " data-toggle="tooltip" data-original-title="Edit user">حذف</a></td ></tr >';
        return html;
    }
    function PaggingTemplate(totalPage, currentPage) {

        var template = "";
        var TotalPages = totalPage;
        var CurrentPage = currentPage;
        var PageNumberArray = Array();


        var countIncr = 1;
        if (currentPage != 1) {

            for (var i = currentPage - 1; i <= totalPage; i++) {

                PageNumberArray[0] = currentPage - 1;
                if (PageNumberArray[countIncr - 1] != totalPage) {
                    PageNumberArray[countIncr] = i + 1;
                }
                countIncr++;
            };
        }
        else {
            for (var i = currentPage; i <= totalPage; i++) {

                PageNumberArray[0] = currentPage;
                if (totalPage != currentPage && PageNumberArray[countIncr - 1] != totalPage) {
                    PageNumberArray[countIncr] = i + 1;
                }
                countIncr++;
            };
        }
        PageNumberArray = PageNumberArray.slice(0, 5);
        var FirstPage = 1;
        var LastPage = totalPage;
        if (totalPage != currentPage) {
            var ForwardOne = currentPage + 1;
        }
        var BackwardOne = 1;
        if (currentPage > 1) {
            BackwardOne = currentPage - 1;
        }

        //template = "<p>" + CurrentPage + " of " + TotalPages + " pages</p>"
        template = template + '<li class="page-item">' +
            '<a onclick="LoadALL(' + BackwardOne + ')" class="page-link"  aria-label="Previous">' +
            '<span aria-hidden="true">&laquo;</span>' +
            '<span class="sr-only">Previous</span>' +
            '</a>' +
            '</li>';


        var numberingLoop = "";
        for (var i = 0; i < PageNumberArray.length; i++) {
            if (PageNumberArray[i] == currentPage) {
                numberingLoop = numberingLoop + '<li  class="page-item active"><a onclick="LoadALL(' + PageNumberArray[i] + ')"  class="page-link" href="#">' + PageNumberArray[i] + '</a></li>'
            }
            else {
                numberingLoop = numberingLoop + '<li class="page-item"><a onclick="LoadALL(' + PageNumberArray[i] + ')"  class="page-link" href="#">' + PageNumberArray[i] + '</a></li>'
            }

        }
        template = template + numberingLoop + '<li class="page-item">' +
            ' <a  onclick="LoadALL(' + ForwardOne + ')" class="page-link"  aria-label="Next">' +
            '<span aria-hidden="true">&raquo;</span>' +
            '<span class="sr-only">Next</span>' +
            '</a>' +
            '</li>';

        $(".pagination").append(template);


    }
</script>

